<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png" >
    <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>This site was created by Ankit Daidanka. It uses data from <a href="mapbox.com" style="text-decoration: none;">mapbox</a> and <a href="weatherstack.com" style="text-decoration: none;">weatherstack</a> API.</p>
        
        <p>
            We created this weather forecast Website to fetch real time weather of provided location.
            <div>
            <img class='portrait' src="/img/forecastimg.jpg">
            </div>
            <h5>It provides - </h5>
            <ul class="features">
            <li>Location</li>
            <li>Weather</li>
            <li>Temperature</li>
            <li>Humidity</li>
            </ul>            

            We are looking forward to add some more features to it.
            <b>Stay Tuned</b>
        </p>
        
    </div>

    {{>footer}}
</body>

</html>
