<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png" >
    <link rel='stylesheet' href='/css/styles.css'>
</head>


<body>
    <div class="main-content">
        {{>header}}
        <h2 class="helpTitle">How can we help you?</h2>
        <h4>Call us:</h4>
        <p>Our friendly support team is available to help you 24/7.</p>
        <div class="phone">
        <img class='iconimg' src="/img/phone.webp"> <sup>+91 - 8949729313</sup>
        </div>
        <h4>Chat with us:</h4>
        <p>Chat now with our support team for quick answers.</p>
        <button class="chatBtn">Chat Now</button>
        
    </div>
    
    {{>footer}}
</body>

</html>